//-----Table of content-----//
//Ligne : 40..........//     Correct line height all browsers;stop font size ajustement orientation iOS.
//Ligne : 54..........//Remove the margin in all browsers.
//Ligne : 62..........//Render the `main` element consistently in IE.
//Ligne : 70..........//font size, margin on `h1` within `section` article` Chrome,Firefox,Safari.
//Ligne : 81..........//Add the correct box sizing in Firefox; Show the overflow in Edge and IE.
//Ligne : 94..........//Correct inheritance, scaling and `em` of font size in all browsers.
//Ligne : 108..........//Remove the gray background on active links in IE 10.
//Ligne : 116..........//Remove bottom border Chrome 57-, corect text decoration in all browser
//Ligne : 129..........//Add the correct font weight in Chrome, Edge, and Safari.
//Ligne : 138..........//Correct inheritance, scaling and `em` of font size in all browsers.
//Ligne : 151..........//Add the correct font size in all browsers.
//Ligne : 159..........//Prevent `sub` and `sup` affecting the line height in all browsers.
//Ligne : 182..........//Remove the border on images inside links in IE 10.
//Ligne : 193..........//Change font styles all browsers; remove the margin in Firefox and Safari.
//Ligne : 212..........//Show the overflow in IE; show the overflow in Edge.
//Ligne : 222..........//Remove the inheritance of text transform in Edge, Firefox, and IE.
//Ligne : 232..........//Correct the inability to style clickable types in iOS and Safari.
//Ligne : 243..........//Remove the inner border and padding in Firefox.
//Ligne : 255..........//Restore the focus styles unset by the previous rule.
//Ligne : 266..........//Correct the padding in Firefox.
//Ligne : 274..........//Correct the text wrapping, color inheritance, remove padding
//Ligne : 293..........//Add the correct vertical alignment in Chrome, Firefox, and Opera.
//Ligne : 301..........//Remove the default vertical scrollbar in IE 10+.
//Ligne : 309..........// Add the correct box sizing in IE 10; and padding.
//Ligne : 321..........//Correct the cursor style of increment and decrement buttons in Chrome.
//Ligne : 330..........//Correct the odd appearance in Chrome and Safari; outline in Safari.
//Ligne : 341..........//Remove the inner padding in Chrome and Safari on macOS.
//Ligne : 349..........//Correct style clickable types iOS and Safari; change inherit.
//Ligne : 363..........//Add the correct display in Edge, IE 10+, and Firefox.
//Ligne : 371..........//Add the correct display in all browsers.
//Ligne : 382..........//Add the correct display in IE 10+.
//Ligne : 390..........//Add the correct display in IE 10.
//--@Table of content@--//

/* Document
   ========================================================================== */

/**
//@Correct line height all browsers;stop font size ajustement orientation iOS.
 
*/

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
//@Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
//@Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
//@font size, margin on `h1` within `section` article` Chrome,Firefox,Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
//@Add the correct box sizing in Firefox; Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
//@Correct inheritance, scaling and `em` of font size in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
//@Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
//@Remove bottom border Chrome 57-, corect text decoration in all browser
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
//@Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
//@Correct inheritance, scaling and `em` of font size in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
//@Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
//@Prevent `sub` and `sup` affecting the line height in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
//@Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
//@Change font styles all browsers; remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
//@Show the overflow in IE; show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
//@Remove the inheritance of text transform in Edge, Firefox, and IE.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
//@Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
//@Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
//@Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
//@Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
//@Correct the text wrapping, color inheritance, remove padding
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
//@Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
//@Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
//@ Add the correct box sizing in IE 10; and padding.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
//@Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
//@Correct the odd appearance in Chrome and Safari; outline in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
//@Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
//@Correct style clickable types iOS and Safari; change inherit.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
//@Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
//@Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
//@Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
//@Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}